<base href="/src">

<title>Operações</title>

<div class="container-fluid">


  <!--<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
     <li class="breadcrumb-item active" aria-current="page"><a
       [routerLink]="['/gerenteindex/operacoes', etapaproducao.etapaProducao]">Sequência Operacional</a>
     </li>
     <li class="breadcrumb-item active" aria-current="page"><a
       [routerLink]="['/gerenteindex/andamentooperacoes', etapaproducao.etapaProducao]">Andamento</a>
     </li>
   </ol>
  </nav> -->

  <form class="card  planilhateste1" [noValidate]="$any(false)" *ngIf="!acessovalido" (ngSubmit)="acessar()"
        #f="ngForm">
    <div class="card-header">Acessar Planilha de Custo</div>
    <div class="card-body border-info mb-3 ">
      <div class="form-group">

        <label for="chaveAcesso">Chave de Acesso
          <input type="password" id="chaveAcesso" [(ngModel)]="chaveAcesso" name="chaveAcesso"
                 class="form-control text-center" [autofocus]="true" placeholder="Chave de Acesso" required="required">
        </label>
      </div>

      <input class="btn btn-info btn-block col-sm-5" type="submit" value="Acessar">
      <div class="alert alert-dismissible alert-danger separa" *ngIf="invalido">
        Chave de acesso Inválida!
      </div>
    </div>
  </form>
  <div *ngIf="acessovalido">
    <!-- Page Content -->
    <h3>Planilha de custo</h3>
    <hr>

    <!-- AQUI VAI AS PÁGINAS -->

    <!--    <nav class="espacamentosequenciaoperacional">-->
    <!--      <div class="nav nav-tabs" id="nav-tab" role="tablist">-->
    <!--        <a class="nav-item nav-link active" id="nav-cadastro-tab" data-toggle="tab" href="#nav-cadastro" role="tab"-->
    <!--           (click)="listaClosed()"-->
    <!--           aria-controls="nav-cadastro" aria-selected="true">Cadastro</a>-->
    <!--        <a class="nav-item nav-link " id="nav-custos-tab" data-toggle="tab" href="#nav-custos" role="tab"-->
    <!--           (click)="openLista()"-->
    <!--           aria-controls="nav-custos" aria-selected="false">Custos</a>-->
    <!--      </div>-->
    <!--    </nav>-->

    <div class="text-right" *ngIf="listacustos">
      <input class="btn btn-success" type="button" (click)="openCustosFixos()" value="Custos Fixos">
    </div>
    <div class="text-left" *ngIf="listacustofixo">
      <input class="btn btn-info" type="button" (click)="sairCustosFixos()" value="Voltar para Planilha de Custo">
    </div>

    <form #f="ngForm" class="card espacamentosequenciaoperacional" [noValidate]="$any(false)"
          (ngSubmit)="cadastrarPrecoOpePeca()" *ngIf="addPrecoPeca">
      <div class="card-header">Cadastrar Preço definitivo da Operação</div>
      <div class="card-body border-info">
        <div class="col-md-auto">
          <div class="form-group">
            <label for="precoPecaOpe">Preço da Operação:</label>
            <input type="number" id="precoPecaOpe" name="precoPecaOpe" class="form-control"
                   #precoPecaOpe (blur)="addPrecoPecaOpe(precoPecaOpe.value)"
                   required="required">
          </div>
        </div>

        <div class="card-footer bg-transparent border-info">
          <button class="btn btn-secondary" href="javascript:void(0)"
                  (click)="voltarLista()" type="button">Cancelar
          </button>
          <input class="btn btn-primary" type="submit"
                 value="Cadastrar">

        </div>
        <div class="alert alert-warning" *ngIf="erro">
          {{mensagemErro}}
        </div>
      </div>
    </form>

    <div class="card border-info mb-3 " *ngIf="listacustos">
      <div class="card-header border-info">Lista de Custos</div>
      <div class="table-responsive">
        <table class="table table table-bordered dataTable">
          <thead>
          <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Gastos</th>
            <th>Gastos Operacionais</th>
            <th>Custo Minuto</th>
            <th>Custo</th>
            <th>Lucro</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let planilhas of gerente.planilhascusto">
            <td>{{planilhas.id}}</td>
            <td>{{planilhas.descricaoOpe}}</td>
            <td><input type="number" name="gastos" id="gastos" value="{{planilhas.gastos}}"
                       class="form-control-plaintext" required="required"/></td>
            <td><input type="number" name="gastosoperacionais" id="gastosoperacionais"
                       value="{{planilhas.gastosOpe}}"
                       class="form-control-plaintext" required="required"/></td>
            <td><input id="precominuto" name="precominuto" class="form-control-plaintext" [readonly]="isReadonly"
                       currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly
                       value="{{planilhas.custoMinuto}}"></td>
            <td>{{planilhas.custoOpe}}</td>
            <td>{{planilhas.lucro}}</td>

            <div class="card-footer bg-transparent align-self-center botaoexcluirplanilha border-info modal-footer">
              <button class="btn btn-secondary" href="javascript:void(0)" type="button"
                      *ngIf="planilhas.precoPecaOpe == 0"
                      (click)="addPreco(planilhas)">Cadastrar Preço
              </button>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="listacustofixo">
      lista de custos fixos works!
    </div>


  </div>

</div>

<!--&lt;!&ndash; cadastro de planilha de custo &ndash;&gt;-->
<!--<div class="modal fade cadastrar-peca" tabindex="-1" role="dialog" aria-labelledby="modalpeca"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog modal-body">-->

<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">×</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="card-body">-->
<!--          <form (ngSubmit)="cadastrarPlanilha()" [noValidate]="$any(false)">-->
<!--            <div class="form-group">-->
<!--              <div class="col-md-auto">-->
<!--                <div class="form-label-group">-->
<!--                  <input type="text" #nomePeca id="nomePeca" class="form-control" name="descricaop"-->
<!--                         placeholder="Nome da peça:"-->
<!--                         required="required">-->
<!--                  <label for="nomePeca">Nome da peça:</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="modal-footer col-md-12">-->
<!--              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>-->
<!--              <input class="btn btn-primary" type="submit" value="Confirmar">-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
