<base href="/src">

<title>Operações</title>

<div class="container-fluid">


  <!--<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
     <li class="breadcrumb-item active" aria-current="page"><a
       [routerLink]="['/gerenteindex/operacoes', etapaproducao.etapaProducao]">Sequência Operacional</a>
     </li>
     <li class="breadcrumb-item active" aria-current="page"><a
       [routerLink]="['/gerenteindex/andamentooperacoes', etapaproducao.etapaProducao]">Andamento</a>
     </li>
   </ol>
  </nav> -->

  <form class="card  planilhateste1" [noValidate]="$any(false)" *ngIf="!acessovalido" (ngSubmit)="acessar()"
        #f="ngForm">
    <div class="card-header">Acessar Planilha de Custo</div>
    <div class="card-body border-info mb-3 ">
      <div class="form-group">

        <label for="chaveAcesso">Chave de Acesso
          <input type="text" id="chaveAcesso" [(ngModel)]="gerente.verificarChaveAcesso" name="chaveAcesso"
                 class="form-control text-center" [autofocus]="true" placeholder="Chave de Acesso" required="required">
        </label>
      </div>

      <input class="btn btn-info btn-block col-sm-5" type="submit" value="Acessar">
      <div class="alert alert-dismissible alert-danger separa" *ngIf="invalido">
        Chave de acesso Inválida!
      </div>
    </div>
  </form>
  <div *ngIf="acessovalido">
    <!-- Page Content -->
    <h3>Planilha de custo</h3>
    <hr>

    <!-- AQUI VAI AS PÁGINAS -->

    <nav class="espacamentosequenciaoperacional">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-cadastro-tab" data-toggle="tab" href="#nav-cadastro" role="tab"
           aria-controls="nav-operacoes" aria-selected="true">Cadastro</a>
        <a class="nav-item nav-link " id="nav-andamento-tab" data-toggle="tab" href="#nav-andamento" role="tab"
           aria-controls="nav-home" aria-selected="false">Custos</a>
      </div>
    </nav>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="nav-cadastro" role="tabpanel" aria-labelledby="nav-cadastro-tab">

        <div class="row espacamentosequenciaoperacional">

          <div class="col-md-4 formsequencia">
            <form class="card border-info mb-3 operacoes lista" (ngSubmit)="cadastrar()"
                  [noValidate]="$any(false)">
              <div class="card-header border-info text-center">Dados:</div>
              <div class="card-body text-secondary">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-label-group">
                          <label for="pecas">Peças:</label>
                          <input type="number" id="pecas" min="1" max="999999" class="form-control"
                                 placeholder="Peças:" name="pecas" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-label-group">
                          <label for="operacoes">Operações:</label>
                          <input type="number" id="operacoes" min="1" max="9999" class="form-control"
                                 placeholder="Operações:" name="operacoes:" required="required">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-label-group">
                          <label for="gastos">Gastos:</label>
                          <input type="number" id="gastos" name="gastos" class="form-control"
                                 placeholder="Gastos:" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-label-group">
                          <label for="gastosoperacionais">Gastos Ope:</label>
                          <input type="number" id="gastosoperacionais" name="gastosoperacionais" class="form-control"
                                 placeholder="Gastos Operacionais:" required="required">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent border-info">
                <input class="btn btn-success" type="submit" [disabled]="!valido" *ngIf="!planilha2"
                       value="Cadastrar">
                <input class="btn btn-outline-info" type="submit" [disabled]="!valido" *ngIf="planilha2"
                       value="Atualizar">
                <input class="btn btn-primary" type="button" (click)="concluirOpe()" *ngIf="planilha2"
                       value="Concluir">
              </div>
            </form>
          </div>

          <div class="col-md-4 formsequencia" *ngIf="planilha2">
            <div class="card border-success mb-3 lista">
              <div class="card-header border-info text-center">Resultado Final:</div>
              <div class="card-body text-success">
                <div class="form-group">
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="precoporminuto">Preço por minuto:
                        <input type="number" id="precoporminuto" name="precoporminuto" class="form-control-plaintext"
                               [readonly]="isReadonly" [(ngModel)]="resultadoPlanilha.custo_minuto">
                      </label>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="precodapeca" class="fonterisco">Preço da peça:
                        <input type="number" id="precodapeca"
                               class="form-control-plaintext" value="{{resultadoPlanilha.custo_ope}}"
                               [readonly]="isReadonly" name="precodapeca">
                      </label>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="lucro" class="fonterisco">Lucro:
                        <input type="number" id="lucro"
                               class="form-control-plaintext" value="{{resultadoPlanilha.lucro}}"
                               [readonly]="isReadonly" name="lucro">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <ng-template #naoescolheu>
          Escolha uma Peça!
        </ng-template>

      </div>
      <div class="tab-pane fade show" id="nav-custos" role="tabpanel" aria-labelledby="nav-custos-tab">

        ...

      </div>
    </div>


  </div>

</div>

<!--&lt;!&ndash; cadastro de planilha de custo &ndash;&gt;-->
<!--<div class="modal fade cadastrar-peca" tabindex="-1" role="dialog" aria-labelledby="modalpeca"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog modal-body">-->

<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">×</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="card-body">-->
<!--          <form (ngSubmit)="cadastrarPlanilha()" [noValidate]="$any(false)">-->
<!--            <div class="form-group">-->
<!--              <div class="col-md-auto">-->
<!--                <div class="form-label-group">-->
<!--                  <input type="text" #nomePeca id="nomePeca" class="form-control" name="descricaop"-->
<!--                         placeholder="Nome da peça:"-->
<!--                         required="required">-->
<!--                  <label for="nomePeca">Nome da peça:</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="modal-footer col-md-12">-->
<!--              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>-->
<!--              <input class="btn btn-primary" type="submit" value="Confirmar">-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
