<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="/src">

  <title>Controle</title>

  <!-- Bootstrap core CSS-->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->


  <!-- Page level plugin CSS-->
  <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/estilo.css">

</head>

<body *ngIf="info.token; else naoAutenticado()"  id="page-top">

<app-nav-bar></app-nav-bar>
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar bg-primary navbar-nav">

    <li ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle text-light" href="javascript:void(0)" id="pagesDropdown" role="button">
        <span>Setores</span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start">
        <a class="dropdown-item" >Risco</a>
      </div>
    </li>


  </ul>

  <div id="content-wrapper" class="fundo">

    <div class="container-fluid">

      <!-- Page Content -->
      <h1>Cadastro de Setor:</h1>
      <hr>
    </div>

    <div class="container " style="float: left; max-width: 70%; padding-left: 5%">
      <form [noValidate]="$any(false)" (ngSubmit)="save()" >
        <div class="form-group">
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="nomeSetor" id="nomeCompleto" class="form-control"
                     autofocus="autofocus" [(ngModel)]="setor.nomeSetor"
                     placeholder="Nome Completo" required="required">
              <label for="nomeCompleto">Nome do setor:</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" name="operacao" id="operacao" [(ngModel)]="setor.operacao" class="form-control"
                   placeholder="Operação"
                   required="required">
            <label for="operacao">Operação:</label>
          </div>
        </div>

        <a class="btn btn-info" routerLink="/controlefuncionarios">Voltar</a>
        <input class="btn btn-success" type="submit" value="Cadastrar">

      </form>

      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto ">
          <div class="copyright text-center my-auto ">
            <span>Copyright © DyOpe Assistant 2018</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->

</div>
</body>
<ng-template #loggedOut class="">
  Não tem autorização! <br>
  Faça o <a routerLink="/logingerente">login.</a>
</ng-template>

</html>
