<title>Controle</title>
      <div class="container-fluid">

        <!-- Page Content -->
        <h1>Cadastro de Setor:</h1>
        <hr>
      </div>

      <div class="container " style="float: left; max-width: 70%; padding-left: 5%">
        <form [noValidate]="$any(false)" (ngSubmit)="save()">
          <div class="form-group">
            <div class="form-group">

                <label for="nomeCompleto">Nome do setor:</label>
                <input type="text" name="nomeSetor" id="nomeCompleto" class="form-control"
                       autofocus="autofocus" [(ngModel)]="setor.nomeSetor"
                       placeholder="Nome Setor" required="required">

            </div>
          </div>
          <div class="form-group">
            <label for="etapaProducao">Etapa da Produção:</label>
              <select class="form-control" id="etapaProducao">
                <option>Selecione..</option>
                <option *ngFor="let etapa of etapas | async"(click)="selectEtapa(etapa)">{{etapa.tipoOpe}}</option>
                <option *ngIf="etapas.length ===0">Carregando...</option>

              </select>

          </div>

          <a class="btn btn-info" routerLink="/controlefuncionarios">Voltar</a>
          <input class="btn btn-success" type="submit" value="Cadastrar">

        </form>

        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto ">
            <div class="copyright text-center my-auto ">
              <span>Copyright © DyOpe Assistant 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

<ng-template #loggedOut class="">
  Não tem autorização! <br>
  Faça o <a routerLink="/logingerente">login.</a>
</ng-template>
