<title>Informações do Setor</title>
<!-- Page Content -->
<h1>Informações do Setor</h1>
<hr>


<div class="container " style="float: left; max-width: 70%; padding-left: 5%">
  <form (ngSubmit)="save()" [noValidate]="$any(false)">
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-label-group">
            <label for="gerente">Gerente</label>
            <select id="gerente" class="form-control">
              <option selected>Selecione..</option>
              <option *ngFor="let gerente of gerentes" (click)="selectGerente(gerente)">{{gerente.nome}}</option>
            </select>

          </div>
        </div>
        <div *ngIf="setorShow" class="col-md-4">
          <div class="form-label-group">
            <label for="setor">Setor</label>
            <select id="setor" class="form-control">
              <option selected>Selecione..</option>
              <option *ngFor="let setor of gerente.setores" (click)="selectSetor(setor)">{{setor.nome}}</option>
            </select>

          </div>
        </div>

        <div *ngIf="setorShow" class="col-md-4">
          <div class="form-label-group">
            <label for="etapa">Etapa da Produção</label>
            <select id="etapa" class="form-control">
              <option selected>Selecione..</option>
              <option *ngFor="let etapa of etapas" (click)="selectEtapa(etapa)">{{etapa.nome}}</option>
            </select>

          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-label-group">
            <input type="number" [(ngModel)]="infosetor.qtdPecasOpe" name="qtdPecasOpe" id="qtdPecasOpe"
                   class="form-control"
                   placeholder="Quantidade de peças da operação:"
                   required="required">
            <label for="qtdPecasOpe">Quantidade de peças da operação:</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-label-group">
            <input type="time" [(ngModel)]="infosetor.tempoNecessario" name="tempoNecessario" id="tempoNecessari"
                   class="form-control"
                   placeholder="Tempo necessário:"
                   required="required">
            <label for="tempoNecessari">Tempo necessário:</label>
          </div>
        </div>
      </div>
    </div>

    <input class="btn btn-success" type="submit" value="Enviar">

    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto ">
        <div class="copyright text-center my-auto ">
          <span>Copyright © DyOpe Assistant 2019</span>
        </div>
      </div>
    </footer>
  </form>
</div>
<!-- /.content-wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Selecione "Sair" abaixo se você estiver pronto para encerrar sua sessão atual.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" href="index">Sair</a>
      </div>
    </div>
  </div>
</div>

<!--Modal Redefinir Senha: -->

<div class="modal fade redefinir-senha" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Redefinir senha:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form method="post" action="infoSetor/cadastrarinfosetor">
            <div class="form-group">

              <div class="form-group">

                <div class="col-md-auto">
                  <div class="form-label-group">
                    <input type="password" id="senha_atual" class="form-control"
                           placeholder="Senha atual:"
                           required="required">
                    <label for="senha_atual">Senha atual:</label>
                  </div>
                </div>
              </div>

              <div class="form-group">

                <div class="col-md-auto">
                  <div class="form-label-group">
                    <input type="password" id="senha_nova" name="senha" class="form-control"
                           placeholder="Nova senha:"
                           required="required">
                    <label for="senha_nova">Nova senha:</label>
                  </div>
                </div>
              </div>

              <div class="form-group">

                <div class="col-md-auto">
                  <div class="form-label-group">
                    <input type="password" id="senha_confirmar" class="form-control"
                           placeholder="Confirmar senha:"
                           required="required">
                    <label for="senha_confirmar">Confirmar senha:</label>
                  </div>
                </div>

              </div>

            </div>

            <div class="modal-footer col-md-12">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <input class="btn btn-primary" type="submit" value="Cadastrar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
