<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="/src">

  <title>Perfil</title>

  <!-- Bootstrap core CSS-->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->


  <!-- Page level plugin CSS-->
  <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/estilo.css">

</head>

<body *ngIf="validado" id="page-top">
<app-navegacao></app-navegacao>
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar toggled bg-primary navbar-nav">

    <li class="nav-item text-light">
      <a class="nav-link text-light" routerLink="/informacoessetor">
        <span>Enviar informações</span>
      </a>

    </li>

  </ul>

  <div id="content-wrapper" class="fundo">

    <div class="container-fluid">

      <!-- Page Content -->
      <h1>Perfil</h1>
      <hr>
    </div>

    <div alt="Imagem de perfil" class="img-rounded .img-responsive" id="img-perfil">
      <img src="assets/imagens/imgperfil.jpg" style="height: 200px; width: 200px; float: left; padding-left: 1%;">
    </div>

    <div class="container " style="float: left; max-width: 70%; padding-left: 5%"
         *ngFor="let funcionario of funcionarios | async">
      <form *ngIf="funcionario.nomeUsuario === info.username">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-label-group">
                  <input [readonly]="isReadonly" type="text" name="funcionario" id="nomeCompleto" class="form-control"
                         autofocus="autofocus" value="{{funcionario.nome}}"
                         placeholder="Nome Completo" required="required">
                  <label for="nomeCompleto">Nome Completo</label>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="form-label-group">
                  <input [readonly]="isReadonly" type="text" name="funcionario" id="nomeUsuario" class="form-control"
                         autofocus="autofocus" value="{{funcionario.nomeUsuario}}"
                         placeholder="Usuário" required="required">
                  <label for="nomeUsuario">Usuário</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-label-group">
                  <input [readonly]="isReadonly" type="text" name="cpf" id="cpf" class="form-control"
                         placeholder="CPF" value="{{funcionario.cpf}}"
                         required="required">
                  <label for="cpf">CPF</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-label-group">
                  <input [readonly]="isReadonly" type="text" name="rg" id="rg" class="form-control" placeholder="RG"
                         value="{{funcionario.cpf}}"
                         required="required">
                  <label for="rg">RG</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input [readonly]="isReadonly" type="email" name="emailGer" id="inputEmail" class="form-control"
                     placeholder="Endereço de e-mail" value="{{funcionario.email}}"
                     required="required">
              <label for="inputEmail">Endereço de e-mail</label>
            </div>

          </div>

          <input class="btn btn-success" type="submit" value="Salvar">
          <a class="btn btn-info" href="#" data-toggle="modal"
             data-target=".redefinir-senha">Redefinir
            senha</a>
          <input class="btn btn-info" type="button" (click)="toggleReadonly()" value="Editar">


          <!-- /.container-fluid -->

          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <div class="container my-auto ">
              <div class="copyright text-center my-auto ">
                <span>Copyright © DyOpe Assistant 2018</span>
              </div>
            </div>
          </footer>
        </div>
      </form>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!--Modal Redefinir Senha: -->

  <div class="modal fade redefinir-senha" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-body">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Redefinir senha:</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form method="put" action="funcionarios/redefinirsenhaperfil">
              <div class="form-group">

                <div class="form-group">

                  <div class="col-md-auto">
                    <div class="form-label-group">
                      <input type="password" id="senha_atual" class="form-control"
                             placeholder="Senha atual:"
                             required="required">
                      <label for="senha_atual">Senha atual:</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">

                  <div class="col-md-auto">
                    <div class="form-label-group">
                      <input type="password" id="senha_nova" name="senha" class="form-control"
                             placeholder="Nova senha:"
                             required="required">
                      <label for="senha_nova">Nova senha:</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">

                  <div class="col-md-auto">
                    <div class="form-label-group">
                      <input type="password" id="senha_confirmar" class="form-control"
                             placeholder="Confirmar senha:"
                             required="required">
                      <label for="senha_confirmar">Confirmar senha:</label>
                    </div>
                  </div>

                </div>

              </div>

              <div class="modal-footer col-md-12">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <input class="btn btn-primary" type="submit" value="Confirmar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="assets/js/sb-admin.min.js"></script>

</body>

</html>
