<li ngbDropdown class="nav-item dropdown">
  <a ngbDropdownToggle class="nav-link text-light" id="pagesDropdown" href="javascript:void(0)"
     role="button"
     aria-haspopup="false" aria-expanded="false">
    <span>Operações</span>
  </a>
  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start">
    <h6 class="dropdown-header">Etapas da produção</h6>
    <a href="javascript:void(0)"  [routerLink]="['/operacaorisco']" class="dropdown-item">Risco</a>
    <a href="javascript:void(0)"  [routerLink]="['/operacaocorte']" class="dropdown-item">Corte</a>
    <a href="javascript:void(0)"  [routerLink]="['/operacaocostura']" class="dropdown-item">Costura</a>
    <a href="javascript:void(0)"  [routerLink]="['/operacaobeneficiamento']" class="dropdown-item">Beneficiamento</a>
    <a href="javascript:void(0)"  [routerLink]="['/operacaoacabamento']" class="dropdown-item">Acabamento</a>


  </div>
</li>
