<li ngbDropdown class="nav-item dropdown">
  <a ngbDropdownToggle class="nav-link text-light" id="pagesDropdown" href="javascript:void(0)"
     role="button"
     aria-haspopup="false" aria-expanded="false">
    <span>Operações</span>
  </a>
  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start">
    <h6 class="dropdown-header">Etapas da produção</h6>
    <a href="javascript:void(0)" *ngFor="let operacao of tiposOperacao | async" [routerLink]="['/operacaorisco', operacao.idTipoOpe]" class="dropdown-item">{{operacao.tipoOpe}}</a>
  </div>
</li>
