<!-- teste

<li ngbDropdown class="nav-item dropdown">
  <a ngbDropdownToggle class="nav-link text-light" id="pagesDropdown" href="javascript:void(0)"
     role="button"
     aria-haspopup="false" aria-expanded="false">
    <i class="fas fa-fw fa-tachometer-alt">
    </i>
    <span>Operações</span>
  </a>
  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start">
    <h6 class="dropdown-header">Etapas da produção</h6>
    <a *ngFor="let etapa of etapas" href="#"
       [routerLink]="['/gerenteindex/operacoes', etapa.etapaProducao]" class="dropdown-item">{{etapa.etapaProducao}}</a>
  </div>
</li>  -->

<li class="nav-item text-light">
  <a class="nav-link text-light" routerLink="/gerenteindex/operacoes">
    <i class="fas fa-fw fa-tachometer-alt">
    </i> &nbsp;
    <span>Operações</span>
  </a>
</li>

<li ngbDropdown class="nav-item dropdown">
  <a ngbDropdownToggle class="nav-link text-light" id="setores" href="javascript:void(0)"
     role="button" (click)="informacoes()"
     aria-haspopup="false" aria-expanded="false">
    <i class="fas fa-fw fa-table">
    </i>&nbsp;
    <span>Informações</span>
  </a>
  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="setores" x-placement="bottom-start">
    <h6 class="dropdown-header">Setores</h6>
    <a *ngFor="let etapa of gerente.etapas" href="javascript:void(0)"
       [routerLink]="['/gerenteindex/controlefuncionarios', etapa.id]"
       class="dropdown-item">{{etapa.etapaProducao}}</a>
  </div>
</li>
