<title>Redefinir senha</title>

<div>

  <div class="container-fluid">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header bg-info text-light">Redefinir Senha</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Esqueceu sua senha?</h4>
          <p>Digite seu endereço de e-mail e nós lhe enviaremos instruções sobre como redefinir sua senha.</p>
        </div>
        <form [noValidate]="$any(false)" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" name="email" [(ngModel)]="email" placeholder="Insira seu e-mail"
                     required="required" [autofocus]="true">
              <label for="inputEmail">Insira seu e-mail</label>
            </div>
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Redefinir Senha">
        <div class="alert alert-dismissible alert-success separa" *ngIf="emailenviado">
          Link para redefinir a senha foi enviado para seu e-mail
        </div>
        <div class="alert alert-dismissible alert-danger separa" *ngIf="emailInvalido">
          {{errorMessage}}
        </div>
        </form>
        <div class="text-center">
          <a class="d-block small" routerLink=""> Página de Login</a>
        </div>
      </div>
    </div>
  </div>

</div>
