<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar  class="example-toolbar bg-lightblue">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav  class="bg-primary sidebar" #snav>
      <div ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-light"  id="pagesDropdown"  href="javascript:void(0)" role="button"
           data-toggle="dropdown"
           aria-haspopup="false" aria-expanded="false">
          <span>Operações</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start">
          <h6 class="dropdown-header">Tipos de Operações</h6>
          <a class="dropdown-item" routerLink="/operacaorisco">Risco</a>
          <a class="dropdown-item" routerLink="/operacaocorte">Corte</a>
          <a class="dropdown-item" routerLink="/operacaocostura">Costura</a>
          <a class="dropdown-item" routerLink="/operacaobeneficiamento">Beneficiamento</a>
          <a class="dropdown-item" routerLink="/operacaoacabamento">Acabamento</a>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <p>Olá mundo</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
