<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="/src">
  <title>Operações</title>

  <!-- Bootstrap core CSS-->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->


  <!-- Page level plugin CSS-->
  <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/estilo.css">

</head>

<body *ngIf="info.token; else naoAutenticado()"  id="page-top">


<app-nav-bar></app-nav-bar>
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar bg-primary navbar-nav">
    <app-sidebar></app-sidebar>
  </ul>


  <div id="content-wrapper" class="fundo">

    <div class="container-fluid">


      <!-- Page Content -->

      <h1>Operação Risco</h1>
      <hr>

      <div class="row">
        <div class="col-sm-4">
          <div class="card border-info mb-3 lista">
            <div class="card-header border-info">Operações a fazer</div>
            <div class="card-body text-secondary">
              <a class="btn btn-outline-info list-group-item list-group-item-action " href="javascript:void(0)"
                 data-toggle="modal" (click)="openInformacoes(content)" data-target=".informations">
                Costura
              </a>
              <a class="btn btn-outline-info list-group-item list-group-item-action ">
                Beneficiamento
              </a>
            </div>
            <div class="card-footer bg-transparent border-info">
              <a class="btn btn-info" href="javascript:void(0)" (click)="openCadastro(cadastro)" data-toggle="modal"
                 data-target=".cadastro-operacoes">Cadastrar</a>
            </div>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="card border-warning mb-3 lista">
            <div class="card-header border-warning">Operações em andamento</div>
            <div class="card-body text-warning">
              <a class="btn btn-outline-warning list-group-item list-group-item-action ">
                Acabamento
              </a>

            </div>

          </div>
        </div>

        <div class="col-sm-4">
          <div class="card border-success mb-3 lista">
            <div class="card-header border-success">Operações concluídas</div>
            <div class="card-body text-success">
              <a class="btn btn-outline-success list-group-item list-group-item-action ">
                Risco
              </a>

              <a class="btn btn-outline-success list-group-item list-group-item-action ">
                Corte
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © DyOpe Assistant 2018</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<!--Modal Informações: -->
<ng-template #content let-modal class="modal fade informations modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myLargeModalLabel">Informações da Operações:</h4>
      <button type="button" (click)="modal.close('Save click')" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form [noValidate]="$any(false)">
          <div class="form-group">
            <div class="form-group">

              <label for="DescricaoOpe">Descrição da operação:</label>
              <textarea required="required" class="form-control" rows="2"
                        id="DescricaoOpe"></textarea>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="date" id="datainicio" class="form-control"
                           placeholder="Data Inicio:"
                           required="required">
                    <label for="datainicio">Data Inicio:</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="date" id="datalimite" class="form-control"
                           placeholder="Data limite:"
                           required="required">
                    <label for="datalimite">Data limite:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="custosOpe" class="form-control fa-credit-card"
                           placeholder="Custos"
                           required="required">
                    <label for="custosOpe">Custos:</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="number" id="LoteProd" class="form-control"
                           placeholder="Lote de Produção"
                           required="required">
                    <label for="LoteProd">Lote de Produção:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="number" id="FuncNesc" class="form-control"
                           placeholder="Funcionários necessários:"
                           required="required">
                    <label for="FuncNesc">Funcionários necessários:</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="number" id="QtdPecasFunc" class="form-control"
                           placeholder="Quantidade de peças por funcionário:"
                           required="required">
                    <label for="QtdPecasFunc">Quantidade de peças por funcionário:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="number" id="TempoPeca" class="form-control"
                           placeholder="Tempo necessário por peça:"
                           required="required">
                    <label for="TempoPeca">Tempo necessário por peça:</label>
                  </div>
                </div>
              </div>


            </div>


          </div>
          <div class="modal-footer col-md-12">

            <button class="btn btn-secondary" type="button" (click)="modal.close('Save click')" data-dismiss="modal">
              Sair
            </button>
            <input class="btn btn-info" type="button" value="Editar">
            <input class="btn btn-success" type="submit" value="Salvar">

          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<!--Modal Cadastro: -->

<ng-template let-modal #cadastro class="modal fade cadastro-operacoes modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="cadastrooperacoes">Cadastro de Operações:</h4>
      <button type="button" (click)="modal.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form [noValidate]="$any(false)">
          <div class="form-group">
            <div class="form-group">

              <label for="DescricaoOp">Descrição da operação:</label>
              <textarea required="required" name="descricao" class="form-control" rows="2"
                        id="DescricaoOp"></textarea>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="date" id="datainici" name="dataInicio" class="form-control"
                           placeholder="Data Inicio:"
                           required="required">
                    <label for="datainici">Data Inicio:</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="date" id="datalimit" name="prazo" class="form-control"
                           placeholder="Data limite:"
                           required="required">
                    <label for="datalimit">Data limite:</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="custosOp" name="custosOpe"
                         class="form-control fa-credit-card"
                         placeholder="Custos"
                         required="required">
                  <label for="custosOp">Custos:</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="number" id="LotePro" name="loteProducao" class="form-control"
                         placeholder="Lote de Produção"
                         required="required">
                  <label for="LotePro">Lote de Produção:</label>
                </div>
              </div>

            </div>
          </div>

          <div class="modal-footer col-md-12">
            <button class="btn btn-secondary" (click)="modal.close()" type="button" data-dismiss="modal">Cancelar</button>
            <input class="btn btn-primary" type="submit" value="Cadastrar">
          </div>
        </form>
      </div>
    </div>
  </div>

</ng-template>

<!-- Bootstrap core JavaScript-->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->


</body>
<ng-template #loggedOut >
  Acesso negado! <br>
  Faça o <a routerLink="/logingerente">login.</a>
</ng-template>

</html>
