.lista {
    max-width: 24rem;
}

.menudrop {
    position: absolute;
    display: none;
    will-change: transform;
    top: 0%;
    left: 0%;
    transform: translate3d(5px, 56px, 0px);
}

.menu:hover .menudrop {
    display: block;
}

h1 {
    color: #203eff;
}

.fundo {
    background-color: #f0f1ff;
    background-size: cover;
    background-repeat: no-repeat;

}

.loginInvalido {
    color: red;
    text-align: center;
    top: 1%;
}

.titulo {
    color: blue;
    padding: 3.3%;
    text-align: center;
}

.bg-lightblue {
    background-color: #8fecff !important;
}

@media screen and (max-width: 900px) {
    #img-perfil {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
    }
}