<title>DyOpe Assistant</title>


<div id="page-top" *ngIf="validado">
  <nav class="navbar navbar-expand bg-lightblue static-top">


    <a class="navbar-brand mr-1" routerLink="/funcionarioindex/homefuncionario">DyOpe Assistant</a>

    <button class="btn btn-link btn-sm  order-1 order-sm-0" (click)="sidebar()" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

    </form>

    <!-- Navbar -->
    <ul class="navbar-nav  ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1 show">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"><span class="badge-danger badge-counter badge">1+</span></i>
          <!-- Counter - Alerts -->
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in pos"
             aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">
            Alertas
          </h6>
          <a class="dropdown-item d-flex align-items-center">
            <div class="mr-3">
              <div class="icon-circle bg-success">
                <i class="fas fa- text-danger"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">Dezembro 7, 2019</div>
              <span>Operação de Risco foi concluida!</span>
            </div>
          </a>

          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" routerLink="/funcionarioindex/perfilfuncionario">Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Sair</a>
        </div>
      </li>
    </ul>

  </nav>

  <!-- logout modal-->

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione "Sair" abaixo se você estiver pronto para encerrar sua sessão atual.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary text-light" (click)="logout()" routerLink="/" data-dismiss="modal">Sair</a>
        </div>
      </div>
    </div>
  </div>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="{{classidebar}}">

      <li class="nav-item text-light">
        <a class="nav-link text-light" routerLink="/funcionarioindex/informacoessetor">
          <span>Enviar informações</span>
        </a>

      </li>

    </ul>

    <div id="content-wrapper" class="fundo">

      <div class="container-fluid">
        <router-outlet></router-outlet>

        <!-- Page Content
        <h1>Home</h1>
        <hr>

        <div class="menu_index">
          <span class="badge badge-info tam"> Bem-vindo {{info.username}}!</span>
          <span class="badge badge-info tam"> Envie informações ao gerente</span>
        </div>
                 -->
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto ">
          <div class="copyright text-center my-auto ">
            <span>Copyright © DyOpe Assistant 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</div>
