
  <title>Redefinir senha</title>

<div class="bg-light">

<div class="container-fluid">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header bg-info text-light">Redefinir Senha</div>
    <div class="card-body">
      <div class="text-center mb-4">
        <h4>Insira abaixo sua nova senha.</h4>
      </div>

      <div class="form-group">

        <div class="form-group">

          <div class="col-md-auto">
            <show-hide-password (click)="foconewsenha()" btnStyle="primary">
              <div class="form-label-group senhacadastro">
                <input type="password" #inputNewPassword id="new-password" name="new-password" class="form-control"
                       placeholder="Nova senha:" minlength="6" required="required">
                <label for="new-password">Nova senha:</label>
              </div>
            </show-hide-password>
          </div>
        </div>

        <div class="form-group">

          <div class="col-md-auto">
            <show-hide-password (click)="fococonfirmarsenha()" btnStyle="primary">
              <div class="form-label-group senhacadastro">
                <input type="password" #inputPasswordConfirm id="new-passwordconfirm" name="new-password"
                       class="form-control"
                       placeholder="Confirmar senha:"
                       required="required">
                <label for="new-passwordconfirm">Confirmar senha:</label>
              </div>
            </show-hide-password>
          </div>

        </div>

      </div>

      <div class="modal-footer col-md-12">
        <input class="btn btn-primary" type="submit" value="Confirmar">
      </div>

      <div class="text-center">
        <a class="d-block small" routerLink=""> Página de Login</a>
      </div>
    </div>
  </div>
</div>


</div>
