.lista {
  max-width: 24rem;
}

.menudrop {
  position: absolute;
  display: none;
  will-change: transform;
  top: 0%;
  left: 0%;
  transform: translate3d(5px, 56px, 0px);
}

.menu:hover .menudrop {
  display: block;
}

h1 {
  color: #203eff;
}

.pos {

  right: -3.9rem;
}

.fundo {
  background-color: #f0f1ff;
  background-size: cover;
  background-repeat: no-repeat;

}

div.menu_index {
  justify-content: center;
  display: grid;
}

div.menu_index span {
  margin-bottom: 3%;
}

.loginInvalido {
  color: red;
  text-align: center;
  top: 1%;
}

.tam {
  font-size: 160%;
}

.titulo {
  color: blue;
  padding: 3.3%;
  text-align: center;
}

.bg-lightblue {
  background-color: #8fecff !important;
}

@media screen and (max-width: 570px) {
  .tam {
    font-size: 140%;
  }
}

@media screen and (max-width: 500px) {
  .tam {
    font-size: 120%;
  }
}

@media screen and (max-width: 450px) {
  .tam {
    font-size: 110%;
  }
}

@media screen and (max-width: 400px) {
  .tam {
    font-size: 100%;
  }
}

@media screen and (max-width: 370px) {
  .tam {
    font-size: 90%;
  }
}

@media screen and (max-width: 350px) {
  .tam {
    font-size: 80%;
  }
}

@media screen and (max-width: 300px) {
  .tam {
    font-size: 75%;
  }
}

@media screen and (max-width: 920px) {
  #img-perfil {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }

  .container {
    margin-left: 15%;
  }
}
