.lista {
  max-width: 24rem;
}

.menudrop {
  position: absolute;
  display: none;
  will-change: transform;
  top: 0%;
  left: 0%;
  transform: translate3d(5px, 56px, 0px);
}

.inputsenha{
  width: 85%;
}

.separa{
  margin-top: 5%;
}

.menu:hover .menudrop {
  display: block;
}

h1 {
  color: #00dcff;
}

.pos {

  right: -3.9rem;
}

.fundo {
  background-color: #f0f1ff;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;

}

div.menu_index {
  justify-content: center;
  display: grid;
}

div.menu_index span {
  margin-bottom: 3%;
}

.loginInvalido {
  color: red;
  text-align: center;
  top: 1%;
}

.tam {
  font-size: 160%;
}

.titulo {
  padding: 3.3%;
  text-align: center;
}

.bg-lightblue {
  background-color: #8fecff !important;
}

@media screen and (max-width: 570px) {
  .tam {
    font-size: 140%;
  }
  .alertas {
    width: 700%;
    left: -554%;
    position: absolute;
    font-size: 80%;
  }
}

@media screen and (max-width: 500px) {
  .tam {
    font-size: 120%;
  }
}

@media screen and (max-width: 450px) {
  .tam {
    font-size: 110%;
  }
}

@media screen and (max-width: 400px) {
  .tam {
    font-size: 100%;
  }
}

@media screen and (max-width: 370px) {
  .tam {
    font-size: 90%;
  }
}

@media screen and (max-width: 350px) {
  .tam {
    font-size: 80%;
  }
}

@media screen and (max-width: 300px) {
  .tam {
    font-size: 75%;
  }
}

@media screen and (max-width: 920px) {
  #img-perfil {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }
  .container {
    margin-left: 15%;
  }
}

@media screen and (max-width: 420px) {
  .inputsenha {
    width: 85%;
  }
}

@media screen and (max-width: 416px) {
  .inputsenha {
    width: 84%;
  }
}

@media screen and (max-width: 394px) {
  .inputsenha {
    width: 83%;
  }
}

@media screen and (max-width: 375px) {
  .inputsenha {
    width: 82%;
  }
}

@media screen and (max-width: 358px) {
  .inputsenha {
    width: 81%;
  }
}

@media screen and (max-width: 343px) {
  .inputsenha {
    width: 80%;
  }
}

@media screen and (max-width: 330px) {
  .inputsenha {
    width: 79%;
  }
}

@media screen and (max-width: 317px) {
  .inputsenha {
    width: 78%;
  }
}

@media screen and (max-width: 306px) {
  .inputsenha {
    width: 77%;
  }
}
