.lista {
  max-width: 24rem;
}

.operacoes {
  max-width: 28rem;

}

.modal-xl {
  max-width: 80%;
  margin: 1.75rem auto;
}

.menudrop {
  position: absolute;
  display: none;
  will-change: transform;
  top: 0%;
  left: 0%;
  transform: translate3d(5px, 56px, 0px);
}

.confirmar_fonte {
  font-size: 0.8rem;
  font-weight: 500;
}

.inputsenha {
  width: 85%;
}

.separa {
  margin-top: 5%;
}

.menu:hover .menudrop {
  display: block;
}

h1 {
  color: #00dcff;
}

h3 {
  color: #00dcff;
}

.pos {

  right: -3.9rem;
}

.fundo {
  background-color: #f0f1ff;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;

}

div.menu_index {
  justify-content: center;
  display: grid;
}

div.menu_index span {
  margin-bottom: 3%;
}

.loginInvalido {
  color: red;
  text-align: center;
  top: 1%;
}

.tam {
  font-size: 160%;
}

.titulo {
  padding: 3.3%;
  text-align: center;
}

.bg-lightblue {
  background-color: #8fecff !important;
}

.testando123 {
  display: inline-block;
  width: 100%;
}

.planilhateste {
  text-align: -webkit-center;
  position: relative;
  top: 100%;
  transform: translateY(100%);
}

.espacamentosequenciaoperacional {
  padding-bottom: 1%;
}



@media screen and (max-width: 570px) {
  .tam {
    font-size: 140%;
  }

  .alertas {
    width: 700%;
    left: -554%;
    position: absolute;
    font-size: 80%;
  }
}

@media screen and (max-width: 500px) {
  .tam {
    font-size: 120%;
  }
}

@media screen and (max-width: 450px) {
  .tam {
    font-size: 110%;
  }
}

@media screen and (max-width: 400px) {
  .tam {
    font-size: 100%;
  }
}

@media screen and (max-width: 370px) {
  .tam {
    font-size: 90%;
  }
}

@media screen and (max-width: 350px) {
  .tam {
    font-size: 80%;
  }
}

@media screen and (max-width: 300px) {
  .tam {
    font-size: 75%;
  }
}

@media screen and (max-width: 920px) {
  #img-perfil {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }

  .container {
    margin-left: 15%;
  }
}

@media screen and (max-width: 416px) {
  .inputsenha {
    width: 84%;
  }
}

@media screen and (max-width: 394px) {
  .inputsenha {
    width: 83%;
  }
}

@media screen and (max-width: 375px) {
  .inputsenha {
    width: 82%;
  }
}

@media screen and (max-width: 358px) {
  .inputsenha {
    width: 81%;
  }
}

@media screen and (max-width: 343px) {
  .inputsenha {
    width: 80%;
  }
}

@media screen and (max-width: 330px) {
  .inputsenha {
    width: 79%;
  }
}

@media screen and (max-width: 317px) {
  .inputsenha {
    width: 78%;
  }
}

@media screen and (max-width: 306px) {
  .inputsenha {
    width: 77%;
  }
}

@media screen and (max-width: 2560px) {
  .senhacadastro {
    width: 82%;
  }
}

@media screen and (max-width: 767px) {
  .senhacadastro {
    width: 91%;
  }
}

@media screen and (max-width: 645px) {
  .senhacadastro {
    width: 90%;
  }
}

@media screen and (max-width: 588px) {
  .senhacadastro {
    width: 89%;
  }
}

@media screen and (max-width: 541px) {
  .senhacadastro {
    width: 88%;
  }
}

@media screen and (max-width: 502px) {
  .senhacadastro {
    width: 87%;
  }
}

@media screen and (max-width: 469px) {
  .senhacadastro {
    width: 86%;
  }
}

@media screen and (max-width: 440px) {
  .senhacadastro {
    width: 85%;
  }
}

@media screen and (max-width: 416px) {
  .senhacadastro {
    width: 84%;
  }
}

@media screen and (max-width: 394px) {
  .senhacadastro {
    width: 83%;
  }
}

@media screen and (max-width: 375px) {
  .senhacadastro {
    width: 82%;
  }
}

@media screen and (max-width: 358px) {
  .senhacadastro {
    width: 81%;
  }
}

@media screen and (max-width: 343px) {
  .senhacadastro {
    width: 80%;
  }
}

@media screen and (max-width: 330px) {
  .senhacadastro {
    width: 79%;
  }
}

@media screen and (max-width: 317px) {
  .senhacadastro {
    width: 78%;
  }
}

@media screen and (max-width: 306px) {
  .senhacadastro {
    width: 77%;
  }
}

@media screen and (max-width: 2560px) {
  .showredefinir {
    width: 85%;
  }
}

@media screen and (max-width: 575px) {
  .showredefinir {
    width: 87%;
  }
}

@media screen and (max-width: 549px) {
  .showredefinir {
    width: 86%;
  }
}

@media screen and (max-width: 520px) {
  .showredefinir {
    width: 85%;
  }
}

@media screen and (max-width: 496px) {
  .showredefinir {
    width: 84%;
  }
}

@media screen and (max-width: 474px) {
  .showredefinir {
    width: 83%;
  }
}

@media screen and (max-width: 455px) {
  .showredefinir {
    width: 82%;
  }
}

@media screen and (max-width: 438px) {
  .showredefinir {
    width: 81%;
  }
}

@media screen and (max-width: 423px) {
  .showredefinir {
    width: 80%;
  }
}

@media screen and (max-width: 410px) {
  .showredefinir {
    width: 79%;
  }
}

@media screen and (max-width: 397px) {
  .showredefinir {
    width: 78%;
  }
}

@media screen and (max-width: 386px) {
  .showredefinir {
    width: 77%;
  }
}

@media screen and (max-width: 376px) {
  .showredefinir {
    width: 76%;
  }
}

@media screen and (max-width: 367px) {
  .showredefinir {
    width: 75%;
  }
}

@media screen and (max-width: 358px) {
  .showredefinir {
    width: 74%;
  }
}

@media screen and (max-width: 350px) {
  .showredefinir {
    width: 73%;
  }
}

@media screen and (max-width: 343px) {
  .showredefinir {
    width: 72%;
  }
}

@media screen and (max-width: 336px) {
  .showredefinir {
    width: 71%;
  }
}

@media screen and (max-width: 330px) {
  .showredefinir {
    width: 70%;
  }
}

@media screen and (max-width: 324px) {
  .showredefinir {
    width: 69%;
  }
}

@media screen and (max-width: 318px) {
  .showredefinir {
    width: 68%;
  }
}

@media screen and (max-width: 313px) {
  .showredefinir {
    width: 67%;
  }
}

@media screen and (max-width: 308px) {
  .showredefinir {
    width: 66%;
  }
}

@media screen and (max-width: 303px) {
  .showredefinir {
    width: 65%;
  }
}

@media screen and (max-width: 991px) {
  .fonteriscoinfo {
    font-size: 14px;
  }
}

@media screen and (max-width: 901px) {
  .fontecorte {
    text-indent: -1%;
  }
}

@media screen and (max-width: 990px) {
  .fonterisco {
    font-size: 15px;
  }
}

@media screen and (max-width: 965px) {
  .fonterisco {
    font-size: 14px;
  }
}

@media screen and (max-width: 940px) {
  .fonterisco {
    font-size: 13px;
  }
}
