<base href="/src">
<title>Operações</title>
<nav class="espacamentosequenciaoperacional">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-operacoes-tab" data-toggle="tab"
       href="#nav-operacoes" role="tab" aria-controls="nav-operacoes" (click)="andamentoClosed()"
       aria-selected="true">Cadastro</a>
    <a class="nav-item nav-link " (click)="andamentoOpen()" id="nav-andamento-tab" data-toggle="tab"
       href="#nav-andamento" role="tab"
       aria-controls="nav-home" aria-selected="false">Andamento</a>
  </div>
</nav>

<div class="tab-content">
  <div class="tab-pane fade show active" id="nav-operacoes" role="tabpanel" aria-labelledby="nav-operacoes-tab">

    <div class="row espacamentosequenciaoperacional">
      <!-- <div class="col-md-3">
        <h3>{{etapaproducao.etapaProducao}}</h3>

      </div> -->

      <div class="form-group">
        <div class="col-md-2 align-self-center">
          <mat-form-field>
            <mat-label class="text-dark">Etapas da produção:</mat-label>
            <mat-select required="required" name="peca" [(ngModel)]="etapa">
              <mat-option *ngFor="let etapa of etapas" [value]="etapa"
                          (click)="selectEtapa(etapa)">{{etapa.etapaProducao}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 align-self-center">
          <mat-form-field>
            <mat-label class="text-dark">Peças:</mat-label>
            <mat-select required="required" name="peca" [(ngModel)]="peca">
              <mat-option *ngFor="let peca of gerente.pecas" [value]="peca"
                          (click)="selectsPeca(peca)">{{peca.descricao}}</mat-option>
              <mat-option *ngIf="gerente.pecas.length <= 0">Cadastre uma Peça</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-3">
        <a class="btn btn-info" href="#" data-toggle="modal"
           data-target=".cadastrar-peca">Cadastrar Peça</a>
      </div>
      <div *ngIf="escolheu" class="col-md-2">
        <h3>{{peca.descricao}}</h3>
      </div>

    </div>
    <form *ngIf="escolheu; else naoescolheu" #f="ngForm" (ngSubmit)="cadastrar()"
          class="card" [noValidate]="$any(false)">

      <div class="card-header">Sequencia Operacional</div>
      <div class="card-body border-info">
        <div class="row">
          <div class="col-md-4 formsequencia">
            <form class="card border-info mb-3 operacoes lista" #suboperacoes="ngForm" (ngSubmit)="subopes()"
                  [noValidate]="$any(false)">
              <div class="card-header border-primary">Sub-Operações (Unidade)</div>
              <div class="card-body text-secondary">
                <div class="form-group">
                  <div *ngFor="let suboperacao of listasuboperacoes; trackBy: trackByFn" class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="descricao">Descrição
                          <input type="text" name="descricao"
                                 id="descricao" value="{{suboperacao.descricao}}" [readonly]="isReadonly"
                                 class="form-control-plaintext" minlength="3"
                                 placeholder="" required="required">
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="tempoOpe">Tempo

                          <div class="row justify-content-center tempo">
                            <!--
                         <mat-form-field class="col-md-2">
                           <input matInput type="number" [brmasker]="{mask:'00', len:2}" id="tempoOpe">
                         </mat-form-field>
                         :
                         <mat-form-field class="col-md-2">
                           <input matInput [brmasker]="{mask:'00', len:2}" type="number">
                         </mat-form-field>

                         -->
                            <input type="number" name="tempoOpe"
                                   id="tempoOpe" max="59" [brmasker]="{mask:'00', len:2}" min="00"
                                   class="form-control-plaintext fontTempo form-control-sm col-md-5" #tempo size="2"
                                   (change)="atualizarSubOpe(suboperacao,tempo.value)"
                                   (blur)="atualizarSubOpe(suboperacao,tempo.value)"
                                   placeholder="mm" required="required">:
                            <input type="number" name="segundosOpe"
                                   id="segundosOpe" max="59" min="00" [brmasker]="{mask:'00', len:2}"
                                   class="form-control-plaintext  form-control-sm col-md-5" #segundos size="2"
                                   (change)="segundosSubOpe(suboperacao,segundos.value)"
                                   (blur)="segundosSubOpe(suboperacao,segundos.value)"
                                   placeholder="ss" required="required">
                          </div>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-1 align-self-center">
                      <a class="btn btn-danger" href="javascript:void(0)" data-toggle="modal"
                         data-target=".deletar-subope" (click)="subopeEscolhida(suboperacao)">-</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer bg-transparent border-info modal-footer">
                <input type="submit" class="btn btn-outline-success" href="javascript:void(0)" [disabled]="ope2"
                       value="Salvar">

                <a class="btn btn-info" href="#" data-toggle="modal"
                   data-target=".cadastro-operacoes">+</a>

              </div>
            </form>
          </div>

          <div class="col-md-4 formsequencia" *ngIf="ope2">
            <div class="card border-info mb-3 operacoes lista">
              <div class="card-header border-info">Dados:</div>
              <div class="card-body text-secondary">
                <div class="form-group">
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="LoteProdu" class="fonterisco">Lote de Produção:
                      <input type="number" id="LoteProdu" min="1" max="999999" (change)="loteOpe(lote.value)"
                             class="form-control" #lote (blur)="loteOpe(lote.value)"
                             placeholder="Lote" name="loteProducao"
                             required="required">
                      </label>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="numFun" class="fonterisco">N° de Funcionários
                        <input type="number" id="numFun" min="1" max="9999" #numFun (change)="numfunOpe(numFun.value)"
                               class="form-control" (blur)="numfunOpe(numFun.value)"
                               placeholder="(disponíveis)" name="numFun"
                               required="required">
                      </label>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="datainici">Data Inicio:
                        <input type="date" id="datainici" name="dataInicio" class="form-control" min="2019-05-01"
                               max="2020-12-30"
                               placeholder="Data Inicio:" [(ngModel)]="operacaoEscolhida.dataInicio"
                               required="required">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent border-info">
                <input class="btn btn-success" type="submit" [disabled]="!valido" *ngIf="!ope3" value="Cadastrar">
                <input class="btn btn-outline-info" type="submit" [disabled]="!valido" *ngIf="atualizarOpe"
                       value="Atualizar">
                <input class="btn btn-primary" type="button" (click)="concluirOpe()" *ngIf="atualizarOpe"
                       value="Concluir">
              </div>
            </div>
          </div>

          <div class="col-md-4 formsequencia" *ngIf="ope3">
            <div class="card border-success mb-3 lista">
              <div class="card-header border-info">Resultado Final:</div>
              <div class="card-body text-success">
                <div class="form-group">
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="prazo">Prazo:
                        <input type="date" id="prazo" name="prazo" class="form-control-plaintext"
                               [readonly]="isReadonly"
                               placeholder="Prazo:" [(ngModel)]="resultadoOpe.prazo">
                      </label>
                    </div>
                  </div>
                  <div class="col-md-auto" *ngIf="numfumok">
                    <div class="form-group">
                      <label for="numFunNesc" class="fonterisco">Funcionários necessários:
                        <input type="text" id="numFunNesc"
                               class="form-control-plaintext" value="{{resultadoOpe.numFuncionarios}}"
                               [readonly]="isReadonly"
                               placeholder="Funcionários necessários:" name="numFuncionarios">
                      </label>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="QtdPecasOpe" class="fonterisco">Peças por funcionário:
                        <input type="text" id="QtdPecasOpe"
                               class="form-control-plaintext" value="{{resultadoOpe.qtdPecasOpe}} Peças"
                               [readonly]="isReadonly"
                               placeholder="Peças por funcionário:" name="qtdPecasOpe">
                      </label>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label for="producaoHora" class="fonterisco">Produção por hora:
                        <input type="text" id="producaoHora"
                               class="form-control-plaintext" value="{{resultadoOpe.producaoHora}} Peças"
                               [readonly]="isReadonly"
                               placeholder="Quantidade de peças por funcionário:" name="producaoHora">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="f.submitted && erro" class="alert alert-warning">
            Cadastro Falhou!<br/>{{errorMessage}}
          </div>
        </div>

      </div>

    </form>


    <!--Modal Cadastro suboperações: -->

    <div class="modal fade cadastro-operacoes" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
         aria-hidden="true">
      <div class="modal-dialog modal-body">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="cadastrooperacoes">Cadastro de Sub-operações:</h4>
            <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <form #cadastrarOperacao="ngForm" [noValidate]="$any(false)">

                <div class="col-md-auto">
                  <div class="form-group">
                    <label for="DescricaoOp">Descrição da operação:</label>
                    <input type="text" required="required" name="descricao" [(ngModel)]="newsuboperacao.descricao"
                           class="form-control" minlength="4" id="DescricaoOp">

                  </div>
                </div>

                <div class="modal-footer col-md-12">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar
                  </button>
                  <input class="btn btn-primary" type="submit" (click)="cadastrarSubOperacao()"
                         [disabled]="!cadastrarOperacao.valid" data-dismiss="modal"
                         value="Cadastrar">
                </div>
                <div *ngIf="cadastrarOperacao.submitted && erro" class="alert alert-warning separa">
                  Cadastro Falhou!<br/>{{errorMessage}}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- cadastro de peça -->
    <div class="modal fade cadastrar-peca" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
         aria-hidden="true">
      <div class="modal-dialog modal-body">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalpeca">Cadastrar peça:</h4>
            <button type="button" #closeModalPeca class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <form [noValidate]="$any(false)" #pecaForm="ngForm">

                <div class="col-md-auto">
                  <div class="form-group">
                    <label for="nomePeca">Nome da peça: </label>
                    <input type="text" #nomePeca id="nomePeca" class="form-control" name="descricaop"
                           placeholder="Nome da peça:" [(ngModel)]="newpeca.descricao" required="required">
                  </div>
                </div>

                <div class="modal-footer col-md-12">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                  <input class="btn btn-primary" type="submit" (click)="cadastrarPeca()" [disabled]="pecaForm.invalid"
                         data-dismiss="modal"
                         value="Cadastrar">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modal excluir sub ope -->
    <div class="modal  fade deletar-subope" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
         aria-hidden="true">
      <div class="modal-dialog modal-body">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalExcluirSubope">Deletar Sub-Operação</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="text-center mb-4">
                <h4>Deseja Excluir?</h4>
              </div>
              <div class="modal-footer col-md-12">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <input class="btn btn-primary" type="submit" (click)="deletarSubOperacao(suboperacaoEscolhida)"
                       data-dismiss="modal"
                       value="Confirmar">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #naoescolheu class="separa">
      Escolha uma Etapa e uma Peça!
    </ng-template>
  </div>
  <div class="tab-pane fade show" id="nav-andamento" role="tabpanel" aria-labelledby="nav-andamento-tab">
    <app-andamento-operacoes *ngIf="andamento"></app-andamento-operacoes>
  </div>

</div>
