<base href="/src">

<title>Operações</title>

<div class="row">
  <div class="col-md-3">
    <h3>{{etapaproducao.etapaProducao}}</h3>
  </div>
  <div class="col-md-1">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Peças
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let peca of this.gerente.pecas; async"
           (click)="selectsPeca(peca.id)">{{peca.descricao}}</a>
      </div>

    </div>
  </div>
  <div class="col-md-1">
    <a class="btn btn-info" href="#" data-toggle="modal"
       data-target=".cadastrar-peca">Cadastrar Peça</a>
  </div>

</div>
<hr>
<form class="card" [noValidate]="$any(false)">
  <div class="card-header">Sequencia Operacional</div>
  <div class="card-body border-info">
    <div class="row">
      <div class="col-md-4">
        <div class="card border-info mb-3 operacoes">
          <div class="card-header border-info">Operações</div>
          <div class="card-body text-secondary">
            <div class="form-group">
              <div *ngFor="let operacao of suboperacoes; async" class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="text" name="escricao"
                             id="dataescricao" value="{{operacao.descricao}}"
                             class="form-control" minlength="3"
                             autofocus="autofocus"
                             placeholder="Descricao" required="required">
                      <label for="dataescricao">Descrição</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="time" name="tempoOpe"
                             id="tempoOpe" value="{{operacao.tempoNesc}}"
                             class="form-control" minlength="3"
                             autofocus="autofocus"
                             placeholder="Tempo" required="required">
                      <label for="tempoOpe">Tempo </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <a class="btn btn-danger" href="javascript:void(0)">-</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-info">
            <a class="btn btn-info" href="javascript:void(0)" (click)="openCadastro(cadastro)" data-toggle="modal"
               data-target=".cadastro-operacoes">Adicionar</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card border-warning mb-3 operacoes" >
          <div class="card-body text-warning">
            <div class="form-group">
                <div class="col-md-auto">
                  <div class="form-label-group">
                    <input type="number" id="LoteProdu"
                           class="form-control"
                           placeholder="Lote de Produção" name="loteProducao"
                           required="required">
                    <label for="LoteProdu" class="fonterisco">Lote de Produção:</label>
                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="form-label-group">
                    <input type="number" id="numFun"
                           class="form-control"
                           placeholder="N° de Funcionários" name="numFun"
                           required="required">
                    <label for="numFun" class="fonterisco">N° de Funcionários</label>
                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="time" name="tempoTrab"
                             id="tempoTrab"
                             class="form-control" minlength="3"
                             autofocus="autofocus"
                             placeholder="Tempo Trabalho" required="required">
                      <label for="tempoTrab">Tempo trabalhado</label>
                    </div>
                  </div>
                </div>
            </div>
          </div>
            <div class="card-footer bg-transparent border-info">
              <input class="btn btn-primary" type="submit" value="Cadastrar">
            </div>
          </div>
        </div>

      <div class="col-sm-5">

        <div class="card border-success mb-3 lista" >
          <div class="card-body text-success" >
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="date" id="datainici" name="dataInicio" class="form-control"
                           placeholder="Data Inicio:"
                           required="required">
                    <label for="datainici">Data Inicio:</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="date" id="datalimit" name="prazo" class="form-control"
                           placeholder="Prazo:"
                           required="required">
                    <label for="datalimit">Prazo:</label>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-outline-success list-group-item list-group-item-action"
               (click)="openInformacoes(content)">
              Ver dados
            </a>
            <a class="btn btn-outline-success list-group-item list-group-item-action"
               [routerLink]="['/gerenteindex/operacaorisco', etapaproducao.id]">
              Ver Andamento
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © DyOpe Assistant 2019</span>
    </div>
  </div>
</footer>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<!--Modal Informações: -->
<ng-template #content let-modal class="modal fade informations modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myLargeModalLabel">Informações da Operações:</h4>
      <button type="button" (click)="modal.close('Save click')" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form [noValidate]="$any(false)">
          <div class="form-group">
            <div class="form-group">

              <label for="DescricaoOpe">Descrição da operação:</label>
              <input [readonly]="isReadonly" required="required" class="form-control"
                     name="descricao" id="DescricaoOpe">
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input [readonly]="isReadonly" type="date" id="datainicio"
                           class="form-control"
                           placeholder="Data Inicio:" name="dataInicio"
                           required="required">
                    <label for="datainicio" class="fonterisco">Data Inicio:</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-label-group">
                    <input [readonly]="isReadonly" type="date" id="datalimite"
                           class="form-control"
                           placeholder="Data limite:" name="prazo"
                           required="required">
                    <label for="datalimite" class="fonterisco">Prazo:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input [readonly]="isReadonly" type="text" id="custosOpe"
                           class="form-control fa-credit-card"
                           placeholder="Custos" name="custosOpe"
                           required="required">
                    <label for="custosOpe" class="fonterisco">Custos:</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input [readonly]="isReadonly" type="number" id="LoteProd"
                           class="form-control"
                           placeholder="Lote de Produção" name="loteProducao"
                           required="required">
                    <label for="LoteProd" class="fonterisco">Lote de Produção:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input [readonly]="isReadonly" type="number" id="FuncNesc"
                           class="form-control"
                           placeholder="Funcionários necessários:" name="numFuncionariosOpe"
                           required="required">
                    <label for="FuncNesc" class="fonterisco">Funcionários necessários:</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input [readonly]="isReadonly" type="number" id="QtdPecasFunc"
                           class="form-control"
                           placeholder="Quantidade de peças por funcionário:" name="qtdPecasOpe"
                           required="required">
                    <label for="QtdPecasFunc" class="fonterisco">Quantidade de peças por funcionário:</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input [readonly]="isReadonly" type="number" id="TempoPeca"
                           class="form-control"
                           placeholder="Tempo necessário por peça:" name="tempoNesc"
                           required="required">
                    <label for="TempoPeca" class="fonterisco">Tempo necessário por peça:</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input [readonly]="isReadonly" type="text" id="precoPeca"
                           class="form-control"
                           placeholder="Preço da peça:" name="precoPecaOpe"
                           required="required">
                    <label for="precoPeca" class="fonterisco">Preço da peça:</label>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="modal-footer col-md-12">

            <button class="btn btn-secondary" type="button" (click)="modal.close('Save click')" data-dismiss="modal">
              Sair
            </button>
            <input class="btn btn-info" type="button" (click)="toggleReadonly()" value="Editar">
            <input class="btn btn-success" type="submit" value="Salvar">

          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<!--Modal Cadastro operações: -->

<ng-template let-modal #cadastro class="modal fade cadastro-operacoes modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="cadastrooperacoes">Cadastro de Operações:</h4>
      <button type="button" (click)="modal.close()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form #cadastrarOperacao="ngForm" [noValidate]="$any(false)" (ngSubmit)="cadastrar()">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <label for="DescricaoOp">Descrição da operação:</label>
                  <input required="required" name="descricao" [(ngModel)]="suboperacao.descricao" class="form-control"
                         id="DescricaoOp">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="time" id="tempo" name="tempo" class="form-control"
                         placeholder="Tempo" [(ngModel)]="suboperacao.tempoNesc"
                         required="required">
                  <label for="tempo">Tempo:</label>
                </div>
              </div>
            </div>
          </div>


          <div class="modal-footer col-md-12">
            <button class="btn btn-secondary" (click)="modal.close()" type="button" data-dismiss="modal">Cancelar
            </button>
            <input class="btn btn-primary" type="submit" value="Cadastrar">
          </div>
          <div *ngIf="cadastrarOperacao.submitted && erro" class="alert alert-warning separa">
            Cadastro Falhou!<br/>{{errorMessage}}
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<!-- cadastro de peça -->
<div class="modal fade cadastrar-peca" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalpeca">Cadastrar peça:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form (ngSubmit)="cadastrarPeca()" [noValidate]="$any(false)">
            <div class="form-group">
              <div class="col-md-auto">
                <div class="form-label-group">
                  <input type="text" #nomePeca id="nomePeca" class="form-control" name="descricaop"
                         placeholder="Nome da peça:" [(ngModel)]="newpeca.descricao" required="required"
                         required="required">
                  <label for="nomePeca">Nome da peça:</label>
                </div>
              </div>
            </div>
            <div class="modal-footer col-md-12">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <input class="btn btn-primary" type="submit" value="Confirmar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template *ngIf="!carregado">
  Carregando....
</ng-template>
