<base href="/src">
<title>Operações</title>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"
       [routerLink]="['/gerenteindex/operacoes', etapaproducao.etapaProducao]" role="tab" aria-controls="nav-profile"
       aria-selected="false">Sequência Operacional</a>
    <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab"
       [routerLink]="['/gerenteindex/andamentooperacoes', etapaproducao.etapaProducao]" role="tab"
       aria-controls="nav-home" aria-selected="true">Andamento</a>
  </div>
</nav>
<!--<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
   <li class="breadcrumb-item active" aria-current="page"><a
     [routerLink]="['/gerenteindex/operacoes', etapaproducao.etapaProducao]">Sequência Operacional</a>
   </li>
   <li class="breadcrumb-item active" aria-current="page"><a
     [routerLink]="['/gerenteindex/andamentooperacoes', etapaproducao.etapaProducao]">Andamento</a>
   </li>
 </ol>
</nav> -->

<div class="row" *ngIf="gerente.pecas">
  <div class="col-md-3">
    <h3>{{etapaproducao.etapaProducao}}</h3>
  </div>
  <div class="col-md-2">

    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Peças
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let peca of this.gerente.pecas"
           (click)="selectsPeca(peca)">{{peca.descricao}}</a>
        <span class="dropdown-item" *ngIf="gerente.pecas.length <= 0">Cadastre uma Peça</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <a class="btn btn-info" href="#" data-toggle="modal"
       data-target=".cadastrar-peca">Cadastrar Peça</a>
  </div>
  <div *ngIf="escolheu" class="col-md-2">
    <h3>{{peca.descricao}}</h3>
  </div>

</div>
<form *ngIf="escolheu; else naoescolheu" (ngSubmit)="cadastrar()" class="card" [noValidate]="$any(false)">

  <div class="card-header">Sequencia Operacional</div>
  <div class="card-body border-info">
    <div class="row">
      <div class="col-md-4">
        <div class="card border-info mb-3 operacoes">
          <div class="card-header border-info">Operações</div>
          <div class="card-body text-secondary">
            <div class="form-group">
              <div *ngFor="let suboperacao of listasuboperacoes" class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="text" name="escricao"
                             id="dataescricao" value="{{suboperacao.descricao}}" [readonly]="isReadonly"
                             class="form-control" minlength="3"
                             autofocus="autofocus"
                             placeholder="Descricao" required="required">
                      <label for="dataescricao">Descrição</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="number" name="tempoOpe"
                             id="tempoOpe" [(ngModel)]="suboperacao.tempoNesc"
                             class="form-control" minlength="3" #tempo
                             autofocus="autofocus"
                             placeholder="Tempo" required="required">
                      <label for="tempoOpe">Tempo </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <a class="btn btn-danger" href="javascript:void(0)" (click)="deletarSubOperacao(suboperacao)">-</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <a class="btn btn-info" href="#" data-toggle="modal"
               data-target=".cadastro-operacoes" >+</a>
          </div>
          <div class="card-footer bg-transparent border-info">
            <input id="e" type="submit" class="btn btn-outline-success" href="javascript:void(0)" [disabled]="ope2"
                   (click)="subopes()" value="Salvar">

          </div>
        </div>
      </div>

      <div class="col-md-3" *ngIf="ope2">
        <div class="card border-warning mb-3 operacoes">
          <div class="card-body text-warning">
            <div class="form-group">
              <div class="col-md-auto">
                <div class="form-label-group">
                  <input type="number" id="LoteProdu"
                         class="form-control"
                         placeholder="Lote de Produção" name="loteProducao" [(ngModel)]="operacaoEscolhida.loteProducao"
                         required="required">
                  <label for="LoteProdu" class="fonterisco">Lote de Produção:</label>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="form-label-group">
                  <input type="number" id="numFun"
                         class="form-control" [(ngModel)]="operacaoEscolhida.numFuncionariosDisponiveis"
                         placeholder="N° de Funcionários" name="numFun"
                         required="required">
                  <label for="numFun" class="fonterisco">N° de Funcionários</label>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="form-group">
                  <div class="form-label-group">
                    <input type="number" name="tempoTrab"
                           id="tempoTrab"
                           class="form-control" minlength="3"
                           autofocus="autofocus" [(ngModel)]="operacaoEscolhida.tempoTrab"
                           placeholder="Tempo Trabalho" required="required">
                    <label for="tempoTrab">Tempo trabalhado</label>
                  </div>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="form-label-group">
                  <input type="date" id="datainici" name="dataInicio" class="form-control"
                         placeholder="Data Inicio:" [(ngModel)]="operacaoEscolhida.dataInicio"
                         required="required">
                  <label for="datainici">Data Inicio:</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-info">
            <input class="btn btn-primary" type="submit" [disabled]="ope3" value="Cadastrar">
          </div>
        </div>
      </div>

      <div class="col-sm-5" *ngIf="ope3">

        <div class="card border-success mb-3 lista">
          <div class="card-body text-success">
            <div class="form-group">


              <div class="col-md-auto">
                <div class="form-label-group">
                  <input [readonly]="isReadonly" type="date" id="prazo" name="prazo" class="form-control"
                         placeholder="Prazo:" [(ngModel)]="resultadoOpe.prazo">
                  <label for="prazo">Prazo:</label>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="form-label-group">
                  <input [readonly]="isReadonly" type="text" id="numFunNesc"
                         class="form-control" value="{{resultadoOpe.numFuncionarios}}"
                         placeholder="Funcionários necessários:" name="numFuncionarios"
                         required="required">
                  <label for="numFunNesc" class="fonterisco">Funcionários necessários:</label>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="form-label-group">
                  <input [readonly]="isReadonly" type="number" id="QtdPecasOpe"
                         class="form-control" value="{{resultadoOpe.qtdPecasOpe}} Peças"
                         placeholder="Peças por funcionário:" name="qtdPecasOpe"
                         required="required">
                  <label for="QtdPecasOpe" class="fonterisco">Peças por funcionário:</label>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="form-label-group">
                  <input [readonly]="isReadonly" type="number" id="producaoHora"
                         class="form-control" value="{{resultadoOpe.producaoHora}} Peças"
                         placeholder="Quantidade de peças por funcionário:" name="producaoHora"
                         required="required">
                  <label for="producaoHora" class="fonterisco">Produção por hora:</label>
                </div>
              </div>


            </div>
            <a class="btn btn-outline-success list-group-item list-group-item-action"
            >
              Abrir Planilha
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © DyOpe Assistant 2019</span>
    </div>
  </div>
</footer>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<!--Modal Cadastro operações: -->

<div class="modal fade cadastro-operacoes" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cadastrooperacoes">Cadastro de Operações:</h4>
        <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form #cadastrarOperacao="ngForm" [noValidate]="$any(false)">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" required="required" name="descricao" [(ngModel)]="newsuboperacao.descricao"
                           class="form-control"
                           id="DescricaoOp">
                    <label for="DescricaoOp">Descrição da operação:</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="number" id="tempo" name="tempo" class="form-control"
                           placeholder="Tempo" [(ngModel)]="newsuboperacao.tempoNesc"
                           required="required">
                    <label for="tempo">Tempo:</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer col-md-12">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar
              </button>
              <input class="btn btn-primary" type="submit" (click)="cadastrarSubOperacao()" data-dismiss="modal"
                     value="Cadastrar">
            </div>
            <div *ngIf="cadastrarOperacao.submitted && erro" class="alert alert-warning separa">
              Cadastro Falhou!<br/>{{errorMessage}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- cadastro de peça -->
<div class="modal fade cadastrar-peca" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalpeca">Cadastrar peça:</h4>
        <button type="button" #closeModalPeca class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form [noValidate]="$any(false)">
            <div class="form-group">
              <div class="col-md-auto">
                <div class="form-label-group">
                  <input type="text" #nomePeca id="nomePeca" class="form-control" name="descricaop"
                         placeholder="Nome da peça:" [(ngModel)]="newpeca.descricao" required="required"
                         required="required">
                  <label for="nomePeca">Nome da peça:</label>
                </div>
              </div>
            </div>
            <div class="modal-footer col-md-12">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <input class="btn btn-primary" type="submit" (click)="cadastrarPeca()" data-dismiss="modal"
                     value="Cadastrar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #naoescolheu>
  Escolha uma Peça!
</ng-template>
