<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="/src">

  <title>Controle</title>

  <!-- Bootstrap core CSS-->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->


  <!-- Page level plugin CSS-->
  <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/estilo.css">

</head>

<body *ngIf="validado" id="page-top">

<app-nav-bar></app-nav-bar>

<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar bg-primary navbar-nav">
    <li ngbDropdown class="nav-item dropdown" >
      <a ngbDropdownToggle class="nav-link text-light" href="javascript:void(0)" id="pagesDropdown" role="button"
      >
        <span>Setores</span>
      </a>
      <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start">
        <a *ngFor="let setor of setores | async" class="dropdown-item">{{setor.nomeSetor}}</a>
      </div>
    </li>

    <li class="nav-item text-light">
      <a class="nav-link text-light" routerLink="/cadastrosetor">
        <span>Cadastrar setor</span>
      </a>

    </li>
  </ul>

  <div id="content-wrapper" class="fundo">

    <div class="container-fluid">

      <!-- Page Content -->

      <h1>Informações dos funcionários:</h1>
      <hr>

      <div class="col-md-6 user-container">
        <h2 style="margin: auto"> User Details</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="hidden">Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th>Age</th>
            <th>Salary</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of infosetor">
            <td class="hidden"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="card border-info mb-3">
        <div class="card-header border-info">Setor de Costura</div>
        <table class="table table table-bordered dataTable">
          <thead>
          <tr>
            <th>Funcionário</th>
            <th>Operação</th>
            <th>Quantidade de peças</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>John</td>
            <td>Costura</td>
            <td>122</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Costura</td>
            <td>122</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>July</td>
            <td>Costura</td>
            <td>1222</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © DyOpe Assistant 2019</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->


</body>
<ng-template #loggedOut>
  Acesso negado! <br>
  Faça o <a routerLink="/logingerente">login.</a>
</ng-template>
</html>
