<title>Controle</title>

<div id="page-top">
  <!-- Page Content -->

  <h1>Informações dos funcionários:</h1>
  <hr>

  <div class="card border-info mb-3">
    <div class="card-header border-info">Setor de Costura</div>
    <table class="table table table-bordered dataTable">
      <thead>
      <tr>
        <th>Funcionário</th>
        <th>Setor</th>
        <th>Operação</th>
        <th>Quantidade de peças</th>
        <th>Tempo necessário</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let infosetor of infosetor | async">
        <td></td>
        <td>{{infosetor.setor}}</td>
        <td>{{infosetor.operacao}}</td>
        <td>{{infosetor.qtdPecasOpe}}</td>
        <td>{{infosetor.tempoNecessario}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--      <div class="card border-info mb-3">-->
  <!--        <div class="card-header border-info">Setor de Costura</div>-->
  <!--        <table class="table table table-bordered dataTable">-->
  <!--          <thead>-->
  <!--          <tr>-->
  <!--            <th>Funcionário</th>-->
  <!--            <th>Operação</th>-->
  <!--            <th>Quantidade de peças</th>-->
  <!--            <th></th>-->
  <!--            <th></th>-->
  <!--          </tr>-->
  <!--          </thead>-->
  <!--          <tbody>-->
  <!--          <tr>-->
  <!--            <td>John</td>-->
  <!--            <td>Costura</td>-->
  <!--            <td>122</td>-->
  <!--            <td></td>-->
  <!--            <td></td>-->
  <!--          </tr>-->
  <!--          <tr>-->
  <!--            <td>Mary</td>-->
  <!--            <td>Costura</td>-->
  <!--            <td>122</td>-->
  <!--            <td></td>-->
  <!--            <td></td>-->
  <!--          </tr>-->
  <!--          <tr>-->
  <!--            <td>July</td>-->
  <!--            <td>Costura</td>-->
  <!--            <td>1222</td>-->
  <!--            <td></td>-->
  <!--            <td></td>-->
  <!--          </tr>-->
  <!--          </tbody>-->
  <!--        </table>-->
  <!--      </div>-->


  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © DyOpe Assistant 2019</span>
      </div>
    </div>
  </footer>

</div>
