<title>Controle</title>

<div id="page-top">
  <!-- Page Content -->

  <h3>Informações dos funcionários</h3>
  <hr>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile"
         aria-selected="false">Lista</a>
      <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" role="tab"
         aria-controls="nav-home" aria-selected="true">Gráfico</a>
    </div>
  </nav>

  <div class="card border-info mb-3">
    <div class="card-header border-info">{{setor.nomeSetor}}</div>
    <table class="table table table-bordered dataTable">
      <thead>
      <tr>
        <th>Funcionário</th>
        <th>Setor</th>
        <th>Operação</th>
        <th>Quantidade de peças</th>
        <th>Tempo necessário</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let infosetor of setor.infosetores">
        <td></td>
        <td>{{infosetor.operacao_id}}</td>
        <td>{{infosetor.qtdPecasOpe}}</td>
        <td>{{infosetor.tempoNecessario}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--      <div class="card border-info mb-3">-->
  <!--        <div class="card-header border-info">Setor de Costura</div>-->
  <!--        <table class="table table table-bordered dataTable">-->
  <!--          <thead>-->
  <!--          <tr>-->
  <!--            <th>Funcionário</th>-->
  <!--            <th>Operação</th>-->
  <!--            <th>Quantidade de peças</th>-->
  <!--            <th></th>-->
  <!--            <th></th>-->
  <!--          </tr>-->
  <!--          </thead>-->
  <!--          <tbody>-->
  <!--          <tr>-->
  <!--            <td>John</td>-->
  <!--            <td>Costura</td>-->
  <!--            <td>122</td>-->
  <!--            <td></td>-->
  <!--            <td></td>-->
  <!--          </tr>-->
  <!--          <tr>-->
  <!--            <td>Mary</td>-->
  <!--            <td>Costura</td>-->
  <!--            <td>122</td>-->
  <!--            <td></td>-->
  <!--            <td></td>-->
  <!--          </tr>-->
  <!--          <tr>-->
  <!--            <td>July</td>-->
  <!--            <td>Costura</td>-->
  <!--            <td>1222</td>-->
  <!--            <td></td>-->
  <!--            <td></td>-->
  <!--          </tr>-->
  <!--          </tbody>-->
  <!--        </table>-->
  <!--      </div>-->


  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © DyOpe Assistant 2019</span>
      </div>
    </div>
  </footer>

</div>
