<base href="/src">
<title>Operações</title>
<div class="form-group">
  <div class="col-md-2 align-self-center">
    <mat-form-field>
      <mat-label class="text-dark">Peças:</mat-label>
      <mat-select required="required" name="etapa" [(ngModel)]="peca">
        <mat-option *ngFor="let peca of this.gerente.pecas" [value]="peca"
                    (click)="selectsPeca(peca)">{{peca.descricao}}</mat-option>
        <mat-option *ngIf="gerente.pecas.length <= 0">Cadastre uma Peça</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row" *ngIf="escolheu; else naoescolheu" (mouseover)="refresh(peca)">
  <div class="col-sm-4">
    <div class="card border-info mb-3 lista">
      <div class="card-header border-info">Operações a fazer</div>
      <div class="card-body text-secondary">
        <a *ngFor="let operacao of peca.operacoesFazer" (click)="selectOperacao(operacao)"
           class="btn-outline-info list-group-item list-group-item-action"
           href="#" data-toggle="modal"
           data-target=".info-ope">{{operacao.descricao}} / {{operacao.id}}</a>
        <a *ngIf="peca.operacoesFazer.length <= 0"
           class="list-group-item list-group-item-action">Nenhuma Operação a fazer</a>
      </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="card border-primary mb-3 lista">
      <div class="card-header border-primary">Operações em andamento</div>
      <div class="card-body text-primary">
        <a class="btn-outline-primary list-group-item list-group-item-action" href="#" data-toggle="modal"
           data-target=".info-ope" (click)="selectOperacao(operacao)"
           *ngFor="let operacao of peca.operacoesAndamento">
          {{operacao.descricao}} / {{operacao.id}}
        </a>
        <a *ngIf="peca.operacoesAndamento.length <= 0"
           class=" list-group-item list-group-item-action">Nenhuma Operação em andamento</a>
      </div>

    </div>
  </div>

  <div class="col-sm-4">
    <div class="card border-warning mb-3 lista">
      <div class="card-header border-warning">Operações no Prazo</div>
      <div class="card-body text-warning">
        <a class="btn-ou/tline-warning list-group-item list-group-item-action " href="#" data-toggle="modal"
           data-target=".info-ope" (click)="selectOperacao(operacao)"
           *ngFor="let operacao of peca.operacoesPrazo">
          {{operacao.descricao}} / {{operacao.id}}
        </a>

        <a *ngIf="peca.operacoesPrazo.length <= 0"
           class="list-group-item list-group-item-action">Nenhuma Operação no prazo</a>
      </div>
    </div>
  </div>

</div>

<!--Modal Informações: -->

<div class="modal fade info-ope" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
     aria-hidden="true" *ngIf="ope3">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Informações da Operação: {{operacaoEscolhida.descricao}}
          \ {{operacaoEscolhida.id}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="update()" [noValidate]="$any(false)">

          <div class="card-body border-info">
            <div class="row">
              <div class="col-md-4">
                <div class="card border-info mb-3 operacoes lista">
                  <div class="card-header border-primary">Sub-Operações</div>
                  <div class="card-body text-secondary">
                    <div class="form-group">
                      <div *ngFor="let suboperacao of operacaoEscolhida.suboperacoes; trackBy: trackByFn"
                           class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="descricao">Descrição
                              <input type="text" name="descricaodb"
                                     id="descricao" value="{{suboperacao.descricao}}" [readonly]="!editarOpe"
                                     class="form-control" minlength="3"
                                     placeholder="" required="required">
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="tempoOpe">Tempo
                              <input type="number" name="tempoOpedb"
                                     id="tempoOpe" value="{{suboperacao.tempoNesc}}"
                                     class="form-control" #tempo
                                     (change)="atualizarSubOpe(suboperacao,tempo.value)" [readonly]="!editarOpe"
                                     (blur)="atualizarSubOpe(suboperacao,tempo.value)"
                                     placeholder="Min" required="required">
                            </label>

                          </div>
                        </div>
                        <div class="col-md-1 align-self-center">
                          <a class="btn btn-danger" href="javascript:void(0)" data-toggle="modal"
                             data-target=".deletar-subope" (click)="subopeEscolhida(suboperacao)">-</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-footer bg-transparent border-info modal-footer">

                    <a class="btn btn-info" href="#" data-toggle="modal"
                       data-target=".cadastro-operacoes">+</a>

                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card border-info mb-3 operacoes lista">
                  <div class="card-header border-info">Dados:</div>
                  <div class="card-body text-secondary">
                    <div class="form-group">
                      <div class="col-md-auto">
                        <div class="form-group">
                          <label for="LoteProdu" class="fonterisco">Lote de Produção:
                            <input type="number" id="LoteProdu" min="1" max="999999"
                                   (change)="loteOpe(lote.value)" value="{{operacaoEscolhida.loteProducao}}"
                                   class="form-control" #lote (blur)="loteOpe(lote.value)" [readonly]="!editarOpe"
                                   placeholder="Lote" name="loteProducao"
                                   required="required">
                          </label>
                        </div>
                      </div>
                      <div class="col-md-auto">
                        <div class="form-group">
                          <label for="numFun" class="fonterisco">N° de Funcionários
                            <input type="number" id="numFun" min="1" max="9999" #numFun
                                   (change)="numfunOpe(numFun.value)"
                                   value="{{operacaoEscolhida.numFuncionariosDisponiveis}}"
                                   class="form-control" (blur)="numfunOpe(numFun.value)" [readonly]="!editarOpe"
                                   placeholder="(disponíveis)" name="numFun"
                                   required="required">
                          </label>
                        </div>
                      </div>
                      <div class="col-md-auto">
                        <div class="form-group">
                          <label for="datainici" class="fonterisco">Data Inicio:
                            <input type="date" id="datainici" name="dataInicio" class="form-control"
                                   min="2019-05-01"
                                   max="2020-12-30"
                                   placeholder="Data Inicio:" [(ngModel)]="operacaoEscolhida.dataInicio"
                                   [readonly]="isReadonly"
                                   required="required">
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent border-info modal-footer">

                    <input class="btn btn-info" type="submit" [disabled]="!valido" *ngIf="editarOpe" value="Atualizar">
                    <input class="btn btn-primary" type="button" (click)="editar()" *ngIf="!editarOpe"
                           [disabled]="!valido"
                           value="Editar">
                  </div>
                </div>
              </div>

              <div class="col-sm-4">

                <div class="card border-success mb-3 lista">

                  <div class="card-header border-info">Resultado Final:</div>
                  <div class="card-body text-success">
                    <div class="form-group">
                      <div class="col-md-auto">
                        <div class="form-group">
                          <label for="prazo">Prazo:
                            <input type="date" id="prazo" name="prazo" class="form-control-plaintext"
                                   [readonly]="isReadonly"
                                   placeholder="Prazo:" [(ngModel)]="resultadoOpe.prazo">
                          </label>
                        </div>
                      </div>
                      <div class="col-md-auto" *ngIf="numfumok">
                        <div class="form-group">
                          <label for="numFunNesc" class="fonterisco">Funcionários necessários:
                            <input type="text" id="numFunNesc"
                                   class="form-control-plaintext" value="{{resultadoOpe.numFuncionarios}}"
                                   [readonly]="isReadonly"
                                   placeholder="Funcionários necessários:" name="numFuncionarios">
                          </label>
                        </div>
                      </div>
                      <div class="col-md-auto">
                        <div class="form-group">
                          <label for="QtdPecasOpe" class="fonterisco">Peças por funcionário:
                            <input type="text" id="QtdPecasOpe"
                                   class="form-control-plaintext" value="{{resultadoOpe.qtdPecasOpe}} Peças"
                                   [readonly]="isReadonly"
                                   placeholder="Peças por funcionário:" name="qtdPecasOpe">
                          </label>
                        </div>
                      </div>
                      <div class="col-md-auto">
                        <div class="form-group">
                          <label for="producaoHora" class="fonterisco">Produção por hora:
                            <input type="text" id="producaoHora"
                                   class="form-control-plaintext"
                                   value="{{resultadoOpe.producaoHora}} Peças"
                                   [readonly]="isReadonly"
                                   placeholder="Quantidade de peças por funcionário:" name="producaoHora">
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="f.submitted && erro" class="alert alert-warning separa">
              Cadastro Falhou!<br/>{{errorMessage}}
            </div>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>

<!--cadastro ope-->
<div class="modal fade cadastro-operacoes" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cadastrooperacoes">Cadastro de Sub-operações:</h4>
        <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form #cadastrarOperacao="ngForm" [noValidate]="$any(false)">

            <div class="col-md-auto">
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" required="required" name="descricao" [(ngModel)]="newsuboperacao.descricao"
                         class="form-control" minlength="4" id="DescricaoOp">
                  <label for="DescricaoOp">Descrição da operação:</label>
                </div>
              </div>
            </div>
            <div class="col-md-auto">
              <div class="form-group">
                <div class="form-label-group">
                  <input type="number" required="required" name="tempoNesc" [(ngModel)]="newsuboperacao.tempoNesc"
                         class="form-control" maxlength="4" id="tempoNescop">
                  <label for="tempoNescop">Tempo:</label>
                </div>
              </div>
            </div>


            <div class="modal-footer col-md-12">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar
              </button>
              <input class="btn btn-primary" type="submit" (click)="cadastrarSubOperacao()"
                     [disabled]="!cadastrarOperacao.valid" data-dismiss="modal"
                     value="Cadastrar">
            </div>
            <div *ngIf="cadastrarOperacao.submitted && erro" class="alert alert-warning separa">
              Cadastro Falhou!<br/>{{errorMessage}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal excluir sub ope -->
<div class="modal  fade deletar-subope" tabindex="-1" role="dialog" aria-labelledby="modalpeca"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalExcluirSubope">Deletar Sub-Operação</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="text-center mb-4">
            <h4>Deseja Excluir?</h4>
          </div>
          <div class="modal-footer col-md-12">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <input class="btn btn-primary" type="submit" (click)="deletarSubOperacao(suboperacaoEscolhida)"
                   data-dismiss="modal"
                   value="Confirmar">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #naoescolheu class="separa">
  Escolha uma Peça!
</ng-template>

<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © DyOpe Assistant 2019</span>
    </div>
  </div>
</footer>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
