<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/src">

    <title>DyOpe Assistant</title>

    <!-- Bootstrap core CSS-->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/estilo.css">

</head>

<body id="page-top">

<app-nav-bar></app-nav-bar>

<div id="wrapper">

    <!-- Sidebar -->
    <ul [ngbCollapse]="isCollapsed" class="sidebar bg-primary navbar-nav">
        <app-sidebar></app-sidebar>
        <li class="nav-item text-light">
            <a class="nav-link text-light" routerLink="/controlefuncionarios">
                <span>Controle</span>
            </a>

        </li>
    </ul>

    <div id="content-wrapper" class="fundo">

        <div class="container-fluid">

            <!-- Page Content -->
            <h1>Home</h1>
            <hr>

            <div class="menu_index">
                <span class="badge badge-info tam"> Bem-vindo Juan!</span>
                <span class="badge badge-info tam"> Cadastre Operações</span>
                <span class="badge badge-info tam"> Receberá informações úteis</span>
                <span class="badge badge-info tam"> Controle o andamento da produção</span>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto ">
                <div class="copyright text-center my-auto ">
                    <span>Copyright © DyOpe Assistant 2018</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selecione "Sair" abaixo se você estiver pronto para encerrar sua sessão atual.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" routerLink="/">Sair</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->

</body>

</html>
