<title>Perfil</title>

<!-- Page Content -->
<h1>Perfil </h1>
<hr>


<div class="container" style="float: left; max-width: 70%; padding-left: 5%">
  <form #gerenteForm="ngForm" [noValidate]="$any(false)" (ngSubmit)="onSubmit(cpf.value,rg.value)">
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-label-group">
              <input [readonly]="isReadonly" type="text" name="nome" id="nomeCompleto" class="form-control"
                     autofocus="autofocus" [(ngModel)]="gerente.nome " #nome
                     placeholder="Nome Completo" required="required">
              <label for="nomeCompleto">Nome Completo</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-label-group">
              <input [readonly]="isReadonly" type="text" name="nomeUsuario" id="nomeUsuario" class="form-control"
                     autofocus="autofocus" [(ngModel)]="gerente.nomeUsuario" #nomeUsuario
                     placeholder="Nome Usuário" required="required">
              <label for="nomeUsuario">Nome de usuário</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-label-group">
              <input [readonly]="isReadonly" type="text" name="cpf" id="cpf" class="form-control"
                     placeholder="CPF" [(ngModel)]="gerente.cpf" [brmasker]="{mask:'000.000.000-00', len:14}" #cpf
                     required="required">
              <label for="cpf">CPF</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-label-group">
              <input [readonly]="isReadonly" type="text" name="rg" id="rg" class="form-control"
                     placeholder="RG" [(ngModel)]="gerente.rg" [brmasker]="{mask:'0.000.000', len:9}" #rg
                     required>
              <label for="rg">RG</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input [readonly]="isReadonly" type="email" name="email" id="inputEmail"
                 class="form-control" [(ngModel)]="gerente.email" #email
                 placeholder="Endereço de e-mail"
                 required="required">
          <label for="inputEmail">Endereço de e-mail</label>
        </div>

      </div>

      <input class="btn btn-success" type="submit" [disabled]="isReadonly"
             value="Salvar">
      <a class="btn btn-info" href="#" data-toggle="modal"
         data-target=".redefinir-senha">Redefinir
        senha</a>
      <input class="btn btn-info" type="button" (click)="toggleReadonly()" value="Editar">
      <div *ngIf="gerenteForm.submitted && updateFailed" class="alert alert-warning separa">
        Atualização Falhou!<br/>{{errorMessage}}
      </div>

      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto ">
          <div class="copyright text-center my-auto ">
            <span>Copyright © DyOpe Assistant 2019</span>
          </div>
        </div>
      </footer>

    </div>
  </form>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<!--Modal Redefinir Senha: -->
<div class="modal fade redefinir-senha" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Redefinir senha:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form #f="ngForm" [noValidate]="$any(false)" (ngSubmit)="redefinirSenha()">
            <div class="form-group">

              <div class="form-group">

                <div class="col-md-auto">
                  <show-hide-password (click)="focosenhaatual()" btnStyle="primary">
                    <div class="form-label-group showredefinir">
                      <input type="password" #inputPassword id="current-password" name="current-password"
                             class="form-control"
                             placeholder="Senha atual:"
                             required="required">
                      <label for="current-password">Senha atual:</label>
                    </div>
                  </show-hide-password>
                </div>
              </div>

              <div class="form-group">

                <div class="col-md-auto">
                  <show-hide-password (click)="foconovasenha()" btnStyle="primary">
                    <div class="form-label-group showredefinir">
                      <input type="password" #inputNewPassword id="new-password" name="new-password"
                             class="form-control" placeholder="Nova senha:" required="required">
                      <label for="new-password">Nova senha:</label>
                    </div>
                  </show-hide-password>
                </div>
              </div>

              <div class="form-group">

                <div class="col-md-auto">
                  <show-hide-password (click)="fococonfirmarsenha()" btnStyle="primary">
                    <div class="form-label-group showredefinir">
                      <input type="password" #inputPasswordConfirm id="new-passwordconfirm" name="new-password"
                             class="form-control" placeholder="Confirmar senha:" required="required">
                      <label for="new-passwordconfirm">Confirmar senha:</label>
                    </div>
                  </show-hide-password>
                </div>

              </div>

            </div>

            <div class="modal-footer col-md-12">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <input class="btn btn-primary" type="submit" value="Confirmar">
              <div *ngIf="f.submitted && senhaerrada" class="alert alert-warning separa">
                As novas senhas não coincidem!
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal chave de acesso-->

<div class="modal fade redefinir-senha" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-body">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Redefinir senha:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form #f="ngForm" [noValidate]="$any(false)" (ngSubmit)="cadastrarChaveAcesso()">
            <div class="form-group">

                <div class="col-md-auto">
                  <show-hide-password  btnStyle="primary">
                    <div class="form-label-group showredefinir">
                      <input type="password" #inputPassword id="chaveAcesso" name="chaveAcesso"
                             class="form-control" [(ngModel)]="gerente.chaveAcesso"
                             placeholder="Chave de Acesso:"
                             required="required">
                      <label for="chaveAcesso">Chave de Acesso:</label>
                    </div>
                  </show-hide-password>
                </div>
              </div>

            <div class="modal-footer col-md-12">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <input class="btn btn-primary" type="submit" value="Confirmar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>

</ng-template>
